.around {
    @include flexbox();
    width: 100%;
    @include justify-content(space-around);
    @include align-items(center);
    background: #fff;
    margin: 0.1rem 0;
    padding: 0.1rem 0;
    text-align: center;
    .left,.right {
        @include flexbox();
        @include align-items(center);
        @include flex(1);
        padding: 0 0.1rem;
        a {
            @include flexbox();
        @include align-items(center);
        
            // width:100%;
            
            img {
                width: 20%;
                height: 20%;
            }
            .around_text {
                text-align: left;
                padding-left: 0.1rem;
                span {
                    font-size: 0.10rem;
                    color:#999;
                }
                h3 {
                    color: #333;
                    font-size: 0.14rem;
                }
            }
        }
    }
    .left {
        border-right: 1px solid #e5e5e5;
    }
}