#find{
    @include flex(1);
    width:100%;
    margin-top:0.4rem;
    background: #f5f5f5;
    overflow: hidden;
    overflow-y: scroll;
    .tagg {
        // margin-top: 0.1rem;
        padding: 0.07rem 0;
        background: #fff;
        @include flexbox();
        @include justify-content(space-between);
        .tagSpan {
            padding-left: 0.1rem;
            span {
                color: rgb(226, 183, 149);
            }
        }
        a {
            color: #a96940;
            padding-right: 0.07rem;
        }
    }
    .findtag{
        @include flexbox();
        margin:0.08rem 0;
        background: #fff;
        @include justify-content(space-around);
        div{
            width:100%;
            padding:0.08rem 0.06rem;
            // @include flex(1);
            img{
                width:100%;
            }
            
        }
    }
}