#my {
    @include flex(1);
    width: 100%;
    background: url(/img/logo_login.png) top center no-repeat;
    .mybody {
        width:100%;
        margin: 2.2rem auto 0; // text-align:center;
        .mylogin {
            .mobile {
                width: 2.3rem;
                margin: 0 auto;
                border-bottom: 1px solid #e7e2e1;
                padding: 0.05rem 0;
                input {
                    border: none;
                    padding-left: 0.05rem;
                    font-size: 0.12rem;
                     
                }
                input::-webkit-input-placeholder{
                    color: #c3c3c8;
                }
               
            }
        }
    }
    .mybutton{
        text-align: center;
        margin-top:0.1rem;
        button {
            
            background: #e4e4e4;
            border:none;
            color:#fff;
            padding:0.1rem 1rem;
        }
    }
    .myreg{
        width:2rem;
        margin:0.1rem auto 0;
        @include flexbox();
        @include justify-content(space-around);
        @include align-items(center);
        span{
            color:#e6e6e6;
            font-size:0.12rem;
        }
        a{
            color:#937c78;
            font-size:0.12rem;
        }
    }
    .line{
        @include flexbox();
        @include align-items(center);
        text-align: center;
        width:2.3rem;
        margin:0.5rem auto 0;
        color:#cacaca;
        div{
            @include flex(1);
            hr{
                background:#cacaca;
                height:1px;
                border:none;
            }
        }
        span{
            @include flex(2);
            @include flex-wrap(nowrap);
            font-size:0.1rem;
        }
    }
    .wechat{
        @include flexbox();
        @include justify-content(space-around);
        width:2.3rem;
        margin:0.1rem auto 0;
        .ic{
            @include flexbox();
            @include flex-direction(column);
            @include align-items(center);
            // text-align: center;
            img{
                width:50%;
            }
            span{
                font-size:0.12rem;
                color:#bcadaa;
                margin-top:0.05rem;
            }
        }
    }

}