footer{
   
    // @include flexbox(0);
    
    @include flex-direction(column);
    // @include justify-content(flex-end);
    z-index:10;
    width:100%;
    background: #fff;
    .footer_ul{
        height:0.44rem;
        @include flexbox();
        @include justify-content(space-around);
        @include align-items(center);
        li{
            @include flexbox();  
            @include align-items(center);         
            a{
                @include flexbox();
                @include flex-direction(column);
                @include justify-content(space-around);
                @include align-items(center);
                color:#999;
                i{
                   font-size:0.2rem;
                //    height:20px;
                }
                span{
                    font-size:0.12rem;
                    margin-top:-6px;
                }
            }
            
        }
    }
    
}
