<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <script>
        // var arr = [];
        // var x,y;
        // var sum = 0;
        // var sum1 = 0;
        // var sum2 = 0;
        // var sum3 = 0;
        // for(var i=1;i<1000001;i++){
        //     arr.push(i);
        //     sum+=i;
        //     sum1+=i*i
        // }
        // console.log(sum1);
        // x + y = sum - sum2;
        // x^2 + y^2 = sum1 - sum3;
        // function john(n,k,m){
        //     var arr=[];
        //     for(var i=1;i<n+1;i++){
        //         arr.push(i);            
        //     }
        //     console.log(arr);
        //     for(var j=m; j < n+1;j++){ 
        //         if(...arr.splice(k+m-1,1) > n){
        //             arr[k+m]==1;
        //             j--;
                   
        //         }else{
        //             arr.splice(k+m-1,1);
        //             console.log(...arr.splice(k+m-1,1));
        //         }                               
        //     }
        // }
        // john(10,3,3);

        // var arr = [1,2,3,4,5,6];
        // arr.map(function(i,index){
        //     console.log(i+'-'+index);
        //     // console.log(index);
        // })
        
        // function a(name,age){
        //     this.name = name;
        //     this.age = age;
        // }
        // function b(name){
        //     this.name = a;
        //     console.log(this.name);
        // }
        // b();
        
        // function a(){
        //     this.name = "1";
        //     this.age = "2";
        // }
        // a.prototype.height = function(){
        //     alert(3);
        // }
        // function b(){
           
        // }
        //  b.prototype = new a();
        //  console.log(b.prototype);
        
    </script>
</body>

</html>